.homepage .project-label {
    color: #131313;
    font: 400 32px "Inter";
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.homepage .project {
    align-items: center;
    background: #f3f3f3;
    border: 2px solid #f0f0f0;
    border-radius: 12px;    
    box-shadow: 4px 4px 0px 0px #bebebe;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 27px 34px;
    width: 250px;
}

.homepage .project:hover {
    border: 5px solid #9accf0;
}

.homepage .project-heading {
    background: linear-gradient(90deg, #7267ba 0%, #9accf0 114.52%);
    background-clip: text;
    font: 600 32px "Inter";
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepage .project-text {
    color: #131313;
    font: 400 20px "Inter";
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}